{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
    <div id="header">
        <span class="logo">Bookmarks</span>
        {% if request.user.is_authenticated %}
        <ul class="menu">
            <li {% if section == "dashboard" %}class="selected"{% endif %}><a href="{% url "dashboard" %}">My dashboard</a></li>
            <li {% if section == "images" %}class="selected"{% endif %}><a href="#">Images</a></li>
            <li {% if section == "people" %}class="selected"{% endif %}><a href="#">People</a></li>
        </ul>
        {% endif %}
        
        <span class="user">
        {% if request.user.is_authenticated %}
            Hello {{ request.user.first_name }}, <a href="{% url "logout" %}">Logout</a>
        {% else %}
            <a href="{% url "login" %}">Log-in</a>
        {% endif %}
        </span>
        
    </div>
        {% if messages %}
            <ul class="messages">
               {% for message in messages %}
                  <li class="{{ message.tags }}">
                     {{ message|safe }}
                        <a href="#" class="close">✖</a>
                  </li>
               {% endfor %}
            </ul>
         {% endif %}
    
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">
                    {{ message|safe }}
                    <a href="#" class="close">×</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

       <!-- Facebook APP Configuration -->
      <script>
       window.fbAsyncInit = function() {
         FB.init({
            appId      : '280106315680498',
            xfbml      : true,
            version    : 'v2.6'
          });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) {return;}
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js";
          fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk')); 
    </script> 

    <!-- Facebook like button -->
   <div
      class="fb-like"
      data-share="true"
      data-width="450"
      data-show-faces="true">
   </div>
</body>
</html>