{% extends "base.html" %}

{% block title %}Create an account{% endblock %}

{% block content %}
	<h1>Create an account
	<!-- Facebook like button -->
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div 
      class="fb-like"
      data-share="true"
      data-width="450"
      data-show-faces="true">
    </div></h1>
	<div class="social">	
		<ul>
			<li class="facebook"><a href="{% url "social:begin" "facebook"
			%}">Sign in with Facebook</a></li>
		</ul>
	</div>
	<p>Please, sign up using the following form:</p>
	<form action="." method="post">
		{{ user_form.as_p }}
		{% csrf_token %}
		<p><input type="submit" value="Create my account"></p>
	</form>	
{% endblock %}